.card {
    background: none;
    box-shadow: none;
    padding: 2.2rem 2rem;
    border-radius: 0;
    min-width: 18rem;
    max-width: 50rem;
    flex: 1;
    transition: border-color 0.2s;
    border-left: 3px solid var(--primary-blue);
    margin-bottom: 1.5rem;
}

.card:hover {
    border-left: 3px solid var(--secondary-green);
}

.cardContent {
    margin-top: 1.2rem;
    text-align: left;
    color: #1a237e;
    font-size: 1.13rem;
    line-height: 1.6;
}
