.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
  margin-bottom: 100px;
}

.rushTitle {
  font-weight: 900;
  font-size: 3em;
  color: var(--primary-dark-blue);
}

.rushContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.rushInfo {
  font-size: 1.5em;
}

.rushInfoIcon {
  fill: inherit;
  height: 1.5rem;
  width: 1.5rem;
  color: inherit;
  transition: fill 0.3s ease-in-out;
}

.rushInfoItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary-blue);
  fill: var(--primary-blue);
  transition: color 0.3s ease-in-out;
}

.rushInfoItem:hover {
  color: var(--primary-dark-blue);
  fill: var(--primary-dark-blue);
}

.section:nth-child(odd) {
  background: var(--background-blue);
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .rushTitle {
    font-weight: 600;
    font-size: 2em;
  }

  .rushInfo {
    font-size: 1em;
  }
}
