.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.rushTitle {
  font-weight: 900;
  font-size: 4em;
  color: var(--primary-dark-blue);
}

.rushInfo {
  font-size: 1.5em;
}

.rushInfoIcon {
  fill: var(--primary-dark-blue);
  height: 1.5rem;
  width: 1.5rem;
}

.rushInfoItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary-dark-blue);
}
