.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.rushTitle {
  font-weight: 900;
  font-size: 3em;
  color: var(--primary-dark-blue);
}

.rushInfo {
  font-size: 1.5em;
}

.rushInfoIcon {
  fill: var(--primary-dark-blue);
  height: 1.5rem;
  width: 1.5rem;
}

.rushInfoItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: var(--primary-dark-blue);
}

.section:nth-child(even) {
  background: var(--background-blue);
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .rushTitle {
    font-weight: 600;
    font-size: 2em;
  }

  .rushInfo {
    font-size: 1em;
  }
}
