.wrapper {
    padding: 2rem 2rem 0 2rem;
}

.contactCardWrapper {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}

.contactInfoWrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 3rem 2rem 0rem 2rem;
}

.contactInfoIcon {
    fill: var(--primary-dark-blue);
    height: 1.5rem;
    width: 1.5rem;
}

.contactInfoItem {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: var(--primary-dark-blue);
}
