.container {
  display: flex;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 4rem;
}

.displayContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.computer {
  width: 100%;
  max-width: 700px;
}

.heading {
  font-size: 4rem;
}

.subheading {
  font-size: 2rem;
  color: var(--primary-blue);
}

.navLink {
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.rushButton {
  background: var(--secondary-green);
  color: #fff;
  border: 2px solid var(--secondary-green);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.1s;
}

.rushButton:hover {
  color: var(--secondary-green);
  background: #fff;
}

@media (max-width: 925px) {
  .container {
    flex-direction: column;
  }
  .textContainer {
    text-align: center;
    padding-top: 2rem;
  }
  .displayContainer {
    padding-top: 2rem;
  }
}
