h2, h3 {
    margin-top: 0.5rem;
}

.icon {
    fill: var(--primary-dark-blue);
    margin-right: 0.25rem;
    height: 1rem;
}

@media (max-width: 768px) {
    .wrapper {
        text-align: center;
    }
}
