.menuWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: var(--primary-dark-blue);
    transition: 0.2s ease-in-out;
    pointer-events: none;
    transform: scale(90%);
    opacity: 0;
}

.menuWrapperOpen {
    pointer-events: all !important;
    transform: translateY(0%) !important;
    transform: scale(100%) !important;
    opacity: 1 !important;
}

.navLink {
    color: var(--primary-dark-blue);
    font-size: 0.9rem;
    transition: 0.1s;
    text-decoration: none;
    font-weight: 600;
}

.navLink:hover {
    color: var(--primary-blue);
}

.menuLinkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menuCloseWrapper {
    text-align: right;
    padding: 2rem;
}

.closeIcon {
    fill: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.1s;
}

.closeIcon:hover {
    fill: var(--primary-blue);
}

.menuWrapper a {
    color: #fff;
}
