.rushEventCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-radius: 15px;
  background: var(--background-blue);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.rushEventCard:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.rushEventTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.rushEventSpecificsContainer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  text-align: right;
  font-weight: 600;
}

.rushEventDescription {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.rushEventBasics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rushEventLocation {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .rushEventSpecificsContainer {
    font-size: 1.1rem;
  }
  .rushEventLocation {
    font-size: 1rem;
  }
  .rushEventDescription {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  .rushEventSpecificsContainer {
    font-size: 1.2rem;
  }
  .rushEventLocation {
    font-size: 1.1rem;
  }
  .rushEventDescription {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .rushEventSpecificsContainer {
    font-size: 1.3rem;
  }
  .rushEventLocation {
    font-size: 1.2rem;
  }
  .rushEventDescription {
    font-size: 1rem;
  }
}
