.navLink {
    color: var(--primary-dark-blue);
    font-size: 0.9rem;
    transition: 0.1s;
    text-decoration: none;
    font-weight: 600;
}

.navLink:hover, .navLinkActive {
    color: var(--primary-blue);
}
