.wrapper {
  margin-top: 4rem;
}

.header {
  text-align: center;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.cardStack > * {
  margin: 18px;
}
