.wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1.5rem;
}

.cardStack>* {
  margin: 14px;
}

@media (max-width: 900px) {
  .cardStack>* {
    flex: 0 1 calc(33.333% - 0.7rem);
  }
}

@media (max-width: 780px) {
  .cardStack>* {
    flex: 0 1 calc(33.333% - 0.4rem);
  }

  .wrapper {
    margin-top: 2rem;
  }
}