.wrapper {
  margin-top: 4rem;
}

.header {
  text-align: center;
}

.cardStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1.5rem;
}

.cardStack > * {
  margin: 14px;
}
