:root {
  --primary-blue: #458EFF;
  --primary-dark-blue: #234C8B;
  --primary-light-blue: #8BB9FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-dark-blue);
}

.content-wrapper {
  margin: 2rem 4rem;
}
