:root {
  --primary-blue: #458eff;
  --primary-dark-blue: #234c8b;
  --primary-light-blue: #8bb9ff;
  --secondary-green: #74cd74;
  --secondary-dark-green: #538a53;
  --background-blue: #f5f8fd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  color: #000;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-dark-blue);
}

.content-wrapper {
  padding-top: 64px; /* matches navbar height */
}

/* small screens */
@media (max-width: 768px) {
  .content-wrapper {
    margin: 4rem 2rem 2rem 2rem;
  }
}
